.carousel-container {
  position: relative;
  width: 100%;
  height: 400px; /* Ajusta según tus necesidades */
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}